nav {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

html,
body {
  margin: 0px;
}

h4 {
  margin-right: 400px;
}

.nav-center {
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ul {
  list-style-type: none;
  width: 400px;
}

li a {
  padding: 17px;
  text-decoration: none;
  color: black;
}

.container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 40px;
  padding: 30px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.btn {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  transition: 0.4s;
}

.btn:hover {
  color: white;
  background-color: black;
}
